$mainGray: RGB(161, 161, 161);
$mainPeach: RGB(238, 120, 120);

body {
    background-color: $mainGray;
}

#addItem {
    background-color: $mainPeach;
    border-color: $mainPeach;
//&:hover background colour doesn't work unless it's a recognised colour
}